*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form_cd{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: silver;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}

h3{
    color: #FFFFFF;
}

input{
    border-radius: 10px;
    border: 0;
}

form input[type="text"]{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
}
form input[type="email"]{
    width: 250px;
    padding: 5px;
    margin-top: 10px;
}

form input[type="password"]{
    width: 250px;
    padding: 5px;
    margin-top: 10px;
}

form input[type="submit"]{
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover{
    transform: scale(1.09);
    color: #000;
}
a:link, a:visited{
    border-radius: 10px;
    border: 0;
    padding: 5.5px 20px;
    margin: 10px 5px;
    cursor: pointer;
    background-color: #F5F5F5;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}
